*{
	margin: 0;
	padding: 0;
}

body{
	color: white;
	font-family: Arial;
	font-size: 16px;
	text-align: center;
	margin: 0px;
	padding: 0px;
}

#cabecera{
	background: #A7C942;
	padding: 5px;
}

#cabecera img{
	float: right;
	position: relative;
}

#menu{
	background: #EAF2D3;
	color:  #A7C942;
	float: left;
	width: 20%;
}

#menu ul{
	cursor: pointer;
	list-style: none;
}

#menu ul li{
	padding: 3px;
	text-align: left;
}

#menu ul li:hover{
	background: #A7C942;
	color: #f2f2f2;
}


#contenido{
	color: #A7C942;
	float: right;
	padding: 25px;
	width: 72%;
}

#contenido p{
	text-align: justify;
}

#pie{
	background: #A7C942;
	bottom: 0px;
	font-size: 0.8em;
	height: 10%;
	padding-top: 10px; 
	position: absolute;
	width: 100%;
}